/* Общие стили */

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
  background-image: url("../img/index-background-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.visually-hidden { 
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
  width: 1220px;
  margin: auto;
}

a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

ul, ol {
  list-style: none;
}

fieldset {
  border: none;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  border: none;
  box-shadow: 0px 1px 2px 0px #ac1000;
  background-color: #e84d37;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  color: #ffffff;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
}

.button:active {
  outline: none;
  background-color: rgba(0, 0, 0, 0.07);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

/* Стили шапки */

.main-navigation-wrapper {
  display: flex;
  justify-content: center;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1220px;
  min-height: 85px;
}

.index-logo-link {
  border: none;
}

.site-navigation {
  margin-right: auto;
  width: 700px;
}

.site-navigation li {
  display: inline-block;
  margin-right: 30px;
}

.site-navigation a {
  line-height: 18px;
  font-weight: 700;
}

.site-navigation a:hover {
  background-color: #f7f6f3;
  border: 1px solid #ffffff;
  color: #323232;
}

.site-navigation a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
  border: none;
}

.current-page a {
  background-color: #d07058;
  border: none;
}

.user-navigation li {
  display: inline-block;
}

.nav-button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #ffffff;
}

.nav-button-search:hover,
.nav-button-login:hover,
.full-cart {
  background-color: #f8f7f4;
  color: #323232;
}

.contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
}

/* Скрытые окна шапки */

.search,
.login,
.cart {
  display: none;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-navigation input,
.subscription input,
.feedback input,
.feedback textarea {
  border: none;
  box-shadow: inset 0px 0px 0px 1px rgba(178, 178, 178, 0.52);
  
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.user-navigation input::placeholder,
.subscription input::placeholder,
.feedback input::placeholder,
.feedback textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

.user-navigation input:hover,
.subscription input:hover,
.feedback input:hover,
.feedback textarea:hover {
  box-shadow: inset 0px 0px 0px 2px rgba(178, 178, 178, 0.52);
}

.user-navigation input:focus,
.subscription input:focus,
.feedback input:focus,
.feedback textarea:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 2px rgba(46, 136, 228, 0.52);
} 

.login-links a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #323232;
}

.login-links a:hover,
.login-links a:active {
  border-bottom-color: rgb(232, 77, 55, 0.3);
  color: #e84d37;
}

.cart-item img {
  border-radius: 50%;
}

.cart-item p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.cart-item span {
  color: #999999;
}

.sum {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.contacts-wrapper p {
  margin: 0;
  text-align: right;
}

/* Стилизация index.html */

.slider h2 {
  font-size: 60px;
  line-height: 60.35px;
}

/* Controls и изменение цвета фона позже, нужны псевдоэлементы и еще что-то, чего я пока не знаю */

.slide-1 {
  /* Временно */
  min-height: 600px;

  background-image: url(../img/ice-cream-1.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.slide-2 {
  background-image: url(../img/ice-cream-2.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url(../img/ice-cream-3.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.big-button {
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.raspberry-block,
.chocolate-block {
  width: 595px;
  background-repeat: no-repeat;
}

.raspberry-block h2,
.chocolate-block h2 {
  font-size: 35px;
  line-height: 41px;
}

.raspberry-block p,
.chocolate-block p {
  font-size: 18px;
}

.raspberry-block {
  background-image: url(../img/raspberry-background.jpg);
}

.chocolate-block {
  background-image: url(../img/chocolate-background.jpg);
}


.features {
  width: 1220px;
  margin: auto;
  margin-bottom: 40px;

  background-color: #f1e7d1;
  background-image: url("../img/features-background.jpg");
  color: #323232;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  width: 565px;
}

.feature-item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.article {
  width: 595px;
  margin-bottom: 40px;

  background-image: url("../img/article-background.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #ffffff;
  color: #323232;
}

.article h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.article h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #323232;
}

.subscription-wrapper {
  width: 595px;
  margin-bottom: 40px;

  background-image: url("../img/subscription-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription {
  width: 90%;
  background-color: #f8f7f4;
}

.subscription p {
  font-weight: 400;
  color: #5a5a5a;
}

.contacts {
  background-color: #fefefe;
  color: #323232;
}

.contacts h3,
.contacts span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map img {
  width: 100%;
  height: auto;
}

.feedback {
  background-color: #f8f7f4;
}

.feedback-title {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

/* Стилизация catalog.html */

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.catalog-navigation {
  display: flex;
}

.catalog-navigation a,
.catalog-navigation span {
  margin-right: 10px;
}

.catalog-navigation a,
.catalog-navigation li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.catalog-navigation a:hover,
.catalog-navigation a:active,
.footer-links a:hover,
.footer-links a:active,
.copyright-text a:hover,
.copyright-text a:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter {
  width: 240px;

  margin-right: 15px;
  margin-bottom: 30px;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter label {
  font-size: 16px;
  line-height: 18px;
  text-transform: lowercase;
}

.price-controls,
.fat-controls,
.filling-controls {
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-fat {
  width: 450px;
}

.filter-filling {
  width: 750px;
}

/* Продолжить работу над фильтрами после псевдоэлементов */

.filter-button {
  /* Фильтров может быть много,
  но кнопка всегда должна быть последней */
  order: 100;

  align-self: center;
  border: none;
  background-color: rgba(251, 252, 251, 0.2);
  box-shadow: inset 0px 0px 0px 2px #ffffff;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filter-button:hover {
  background-color: #fbfcfb;
  color: #323232;
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog-items,
.hit-items {
  display: flex;
  flex-wrap: wrap;
  width: 1220px;
}

.catalog-item,
.hit-item {
  width: 270px;
  flex-grow: 1;
}

.catalog-item:hover,
.hit-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item img,
.hit-item img {
  border-radius: 50%;
}

.catalog-item h3,
.hit-item h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.catalog-item p,
.hit-item p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item span,
.hit-item span {
  font-size: 30px;
}

/* Стрелки влево и вправо позже, нужны псевдоэлементы */

.catalog-pages {
  display: flex;
  justify-content: flex-end;
}

.catalog-pages a {
  margin-right: 20px;

  border: none;
  line-height: 18px;
}

.catalog-pages a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.catalog-current-page a,
.catalog-current-page a:hover {
  background-color: #ffffff;
  border-radius: 50%;
  color: #323232;
}

/* Стилизация подвала */


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 380px;
}

.footer-links li {
  width: 170px;
}

.footer-links li:nth-child(odd) {
  margin-right: 25px;
}

.footer-links li:nth-child(even) {
  margin-right: auto;
}

.footer-links a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.first-link a {
  font-weight: 700;
}

.copyright p {
  margin: 0;
}

.copyright a {
  border: none;
}

.copyright-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}